#content {
	width: 720px;
	height: 480px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
}
form {
	padding: 10px;
	float: left;
}
input {
	margin: 10px;
}
#log {
	float: right;
	margin-right: 100px;
	margin-top: 10px;
	height: 100px;
}